<div id="o-nas" class="advantages">
  <div class="advantages-wrap">
    <div class="advantages-title">
      <h2>Наши преимущества</h2>
    </div>
    <div class="advantages-row">
      <div class="advantages-items">
        <ul>
          <li><img src="img/advantagesBlock/1.png" alt="1"><p>Бесплатный замер</p></li>
          <li><img src="img/advantagesBlock/3.png" alt="3"><p>Тысячи довольных клиентов</p></li>
          <li><img src="img/advantagesBlock/5.png" alt="5"><p>Огромный опыт работы</p></li>
          <li><img src="img/advantagesBlock/7.png" alt="7"><p>Немецкое качество</p></li>
        </ul>
      </div>
      <div class="advantages-items">
        <ul>
          <li><img src="img/advantagesBlock/2.png" alt="2"><p>Замкнутый цикл производства</p></li>
          <li><img src="img/advantagesBlock/4.png" alt="4"><p>Квалифицированные специалисты</p></li>
          <li><img src="img/advantagesBlock/6.png" alt="6"><p>Расширенная гарантия 15 лет</p></li>
          <li><img src="img/advantagesBlock/8.png" alt="8"><p>Немецкая точность в соблюдении сроков</p></li>
        </ul>
      </div>
    </div>
  </div>

</div>