<div class="calc">
  <div id="calculatorBlock">
    <div class="calc-title">
      <h2>Калькулятор стоимости окон {{ page.model }}</h2>
    </div>
    <div class="block">
      <div class="left">
        <div id="modelMenu" class="content-right-title" data-profile="blitz">
          <h3 class="title">Модель:
            <span id ="profileTitle">{{ page.calc }}</span>
          </h3>
          <ul id="modelList">
            <li data-profile="blitz" class="profile">Blitz</li>
            <li data-profile="grazio" class="profile">Grazio</li>
            <li data-profile="delight" class="profile">Delight</li>
            <li data-profile="brilliant" class="profile">Brilliant</li>
            <li data-profile="intelio" class="profile">Intelio</li>
            <li data-profile="tandem" class="profile">Tandem</li>
            <li data-profile="geneo" class="profile">Geneo</li>
          </ul>
        </div>
        <div id="profile">
          <img id="currentImage" width="250" src="{{ page.img }}" alt="{{ page.title }}">
        </div>
      </div>
      <div class="content content-right-title">
        <h3 class="content-right-title">Параметры окна</h3>
        <div id="profileList">
          <ul>
            <li class="leaf"><img src="calculator/leafs/leaf1/1_stvorka_1.png" class="leafsMenu" data-leaf="leaf1" alt="" data-leaf-num="0" >
              <div class="drop">
                <ul>
                  <li><img src="calculator/leafs/leaf1/1_stvorka_1.png" class="leafsMenu" data-leaf="leaf1" alt="" data-leaf-num="0" /> </li>
                  <li><img src="calculator/leafs/leaf1/1_stvorka_2.png" class="leafsMenu" data-leaf="leaf1" alt="" data-leaf-num="1" /> </li>
                  <li><img src="calculator/leafs/leaf1/1_stvorka_3.png" class="leafsMenu" data-leaf="leaf1" alt="" data-leaf-num="2" /></li>
                </ul>
              </div>
            </li>
            <li class="leaf"><img src="calculator/leafs/leaf2/2_stvorka_1.png" class="leafsMenu" data-leaf="leaf2" alt="" data-leaf-num="0" />
              <div class="drop">
                <ul>
                  <li><img src="calculator/leafs/leaf2/2_stvorka_1.png" class="leafsMenu" data-leaf="leaf2" alt="" data-leaf-num="0" /> </li>
                  <li><img src="calculator/leafs/leaf2/2_stvorka_2.png" class="leafsMenu" data-leaf="leaf2" alt="" data-leaf-num="1" /> </li>
                  <li><img src="calculator/leafs/leaf2/2_stvorka_3.png" class="leafsMenu" data-leaf="leaf2" alt="" data-leaf-num="2" /> </li>
                  <li><img src="calculator/leafs/leaf2/2_stvorka_4.png" class="leafsMenu" data-leaf="leaf2" alt="" data-leaf-num="2" /> </li>
                </ul>
              </div>
            </li>
            <li class="leaf"><img src="calculator/leafs/leaf3/3_stvorka_1.png" class="leafsMenu" data-leaf="leaf3" alt="" data-leaf-num="0" />
              <div class="drop">
                <ul>
                  <li><img src="calculator/leafs/leaf3/3_stvorka_1.png" class="leafsMenu" data-leaf="leaf3" alt="" data-leaf-num="0" /> </li>
                  <li><img src="calculator/leafs/leaf3/3_stvorka_2.png" class="leafsMenu" data-leaf="leaf3" alt="" data-leaf-num="1" /> </li>
                  <li><img src="calculator/leafs/leaf3/3_stvorka_3.png" class="leafsMenu" data-leaf="leaf3" alt="" data-leaf-num="2" /> </li>
                  <li><img src="calculator/leafs/leaf3/3_stvorka_4.png" class="leafsMenu" data-leaf="leaf3" alt="" data-leaf-num="2" /> </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div id="currentLeafCarrier">
          <img id="currentLeaf" src="calculator/leafs/big/leaf1/1_stvorka_1.png" alt="">
          <div id="verticalScrollCarrier">
            <div id="verticalScroll">
              <div id="verticalBox" class="box" data-type="0"></div>
            </div>
          </div>
          <div id="horizontalScrollCarrier">
            <div id="horizontalScroll">
              <div id="horizontalBox" class="box" data-type="1"></div>
            </div>
          </div>
        </div>

        <form>
          <input type="text" id="windowHeight" class="numsOnly" size="4" maxlength="4" value="500" /><img height="24" src="img/x.png" style="padding-top:10px;margin:0px 10px 0px 10px;" alt="">
          <input class="numsOnly" type="text" id="windowWidth" style="margin-right:5px" size="4" maxlength="4" value="500" />мм
        </form>
      </div>
      <div class="right">
        <div class="content-right-title">
          <h3>Узнать стоимость</h3>
          <p>Выберите параметры Вашего окна и нажмите "Узнать точную цену".</p>
          <span>Мы рассчитаем для Вас точную цену с учетом действующей скидки:</span>
        </div>
        <div id="totalPrice" class="clear">0 р.</div>
        <form id="calc-form">
          <input data-id="clientName" maxlength="30" name="name" type="text" placeholder="Ваше имя" required />
          <input data-id="clientPhone" type="text" name="phone" placeholder="Ваш номер телефона" required />
          <input type="hidden" name="typeWindow" />
          <input type="hidden" name="heightWindow" />
          <input type="hidden" name="widthWindow" />
          <input type="hidden" name="window" />
          <button class="btn">Узнать точную цену</button>
          <div id="sendform">Ваше сообщение отправлено! Менеджер свяжется с вами в ближайшее время</div>
        </form>
      </div>
    </div>
  </div>
</div>