<div id="kontakty" class="contact">
  <div class="contact-title">
    <h2>Контакты</h2>
  </div>
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7705a37960ded8ab04885d67f49b562b0034717f652c105c6ab5a18b0b1c2dc8&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
  <div class="contact-row">
    <div class="contact-info">
      <ul>
        <li><img src="img/map.png" alt="map"><p>Москва, Самеда вургуна, 7</p></li>
        <li><img src="img/phone.png" alt="phone"><a href="tel:84950051875">8(495)005-18-75</a></li>
      </ul>
    </div>
    <div class="contact-form">
      <div class="contact-form-heading">
        <h4>Вы также можете воспользоваться формой обратного звонка</h4>
      </div>
      <form class="otherform">
        <input  maxlength="30" name="name" type="text" placeholder="Ваше имя" />
        <input  type="text" name="phone" placeholder="Ваш номер телефона" />
        <button type="submit" class="btn">Отправить</button>
      </form>
    </div>
  </div>
</div>