<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-row">
            <div class="footer-one">
                <div class="footer-one-cart">
                    <p>Мы принимаем к оплате:</p>
                    <img src="img/pay_cards.png" alt="pay">
                </div>
                <div class="footer-one-share">
                    <p>Поделиться:</p>
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
                </div>
            </div>
            <div class="footer-two">
                <h3>Закажите обратный звонок</h3>
                <a href="#" class="btn open-modal" data-modal="#modal1">Заказать</a>
            </div>
            <div class="footer-three">
                <p>
                    <a class="footer-three-phone" href="tel:84950051875">8(495)005-18-75</a><br>
                    <a class="footer-three-mail" href="tel:mailto:okno-ooo.ruu@yandex.ru">okno-ooo.ruu@yandex.ru</a>
                    <span>Официальный дилер Rehau, 2007 <script>new Date().getFullYear()>2007&&document.write("-"+new Date().getFullYear());</script></span>
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="sendotherform" id="sendotherform">
    <div class="sendotherform-wrap">
        <p>Ваше сообщение отправлено! Менеджер свяжется с вами в ближайшее время</p>
    </div>
</div>
<a href="#" class="scrollup">Наверх</a>
<div class='modal' id='modal1'>
    <div class='content'>
        <form class="otherform">
            <input type="text" name="name" placeholder="Введите ваше имя" required>
            <input type="number" name="phone" placeholder="Ваш номер телефона" required>
            <a class='btn close-modal' data-modal="#modal1" href="#">Закрыть</a>
            <button class="btn" type="submit">Отправить</button>
        </form>
    </div>
</div>

<a href="#" class="form-zamer open-modal" data-modal="#modal1">Вызвать замерщика</a>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="calculator/calculator.js"></script>
<script src="js/scripts.min.js"></script>

<!-- Pixel -->
<script type="text/javascript">
    (function (d, w) {
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&page=" + encodeURIComponent(w.location.href);
            n.parentNode.insertBefore(s, n);
    })(document, window);
</script>
<!-- /Pixel -->

</body>
</html>