<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-row">
            <div class="footer-one">
                <div class="footer-one-cart">
                    <p>Мы принимаем к оплате:</p>
                    <img src="img/pay_cards.png" alt="pay">
                </div>
                <div class="footer-one-share">
                    <p>Поделиться:</p>
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="//yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
                </div>
            </div>
            <div class="footer-two">
                <h3>Закажите обратный звонок</h3>
                <a href="#" class="btn open-modal" data-modal="#modal1">Заказать</a>
            </div>
            <div class="footer-three">
                <p>
                    +7 (968) 512-20-00
                    <span>Официальный дилер Rehau, 2007 - 2019</span>
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="sendotherform" id="sendotherform">
    <div class="sendotherform-wrap">
        <p>Ваше сообщение отправлено! Менеджер свяжется с вами в ближайшее время</p>
    </div>
</div>
<a href="#" class="scrollup">Наверх</a>
<div class='modal' id='modal1'>
    <div class='content'>
        <form class="otherform">
            <input type="text" name="name" placeholder="Введите ваше имя" required>
            <input type="number" name="phone" placeholder="Ваш номер телефона" required>
            <a class='btn close-modal' data-modal="#modal1" href="#">Закрыть</a>
            <button class="btn" type="submit">Отправить</button>
        </form>
    </div>
</div>
<!-- RedConnect -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async" src="https://web.redhelper.ru/service/main.js?c=rehaurus"></script>
<div style="display: none"><a class="rc-copyright" href="http://redconnect.ru">Обратный звонок RedConnect</a></div>
<!--/RedConnect -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>