<div id="fotogalereya" class="gallery">
  <div class="gallery-title">
    <h2>Отделка балконов</h2>
  </div>
  <img src="img/balkonyBlock/balkon.jpg" alt="balkon">
  <div class="gallery-row">
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/1.jpg"><img src="img/galleryBlock/1.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/2.jpg"><img src="img/galleryBlock/2.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/3.jpg"><img src="img/galleryBlock/3.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/4.jpg"><img src="img/galleryBlock/4.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/5.jpg"><img src="img/galleryBlock/5.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/6.jpg"><img src="img/galleryBlock/6.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/7.jpg"><img src="img/galleryBlock/7.jpg"></a>
    </div>
    <div class="gallery-item">
      <a data-fancybox="gallery" href="img/galleryBlock/8.jpg"><img src="img/galleryBlock/8.jpg"></a>
    </div>
  </div>
</div>