<div class="navbar-mobile">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        {% include /navbar_items.html %}
      </ul>
    </div>
  </nav>
</div>