<li class="nav-item">
  <a class="nav-link" href="akcii">Акции</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#okna-rehau">Окна Rehau</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#kalkulyator">Калькулятор</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#ceny">Цены</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#o-nas">О нас</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#fotogalereya">Фотогалерея</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#kontakty">Контакты</a>
</li>