<div id="okna-rehau" class="okna">
  <div class="okna-title">
    <h1>Окна Rehau</h1>
  </div>
  <div class="okna-row">
    <div class="okna-item">
      <a href="okna-rehau/rehau-blitz">
        <div class="okna-item-title">
          <h2>Rehau Blitz</h2>
        </div>
        <div class="okna-item-info">
          <p>Хорошие показатели тепла и функционала по отличной цене.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/1.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 10 600р.</strike> от 7 540р.</span>
        </div>
      </a>
    </div>
    <div class="okna-item">
      <a href="okna-rehau/rehau-grazio">
        <div class="okna-item-title">
          <h2>Rehau Grazio</h2>
        </div>
        <div class="okna-item-info">
          <p>Инновационные решения и теплоизоляция в новой системе профиля.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/2.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 11 110р.</strike> от 6 332р.</span>
        </div>
      </a>
    </div>
    <div class="okna-item">
      <a href="okna-rehau/rehau-delight">
        <div class="okna-item-title">
          <h2>Rehau Delight</h2>
        </div>
        <div class="okna-item-info">
          <p>Максимум света и теплозащиты в сочетании с самой низкой рамой.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/3.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 13 810р.</strike> от 9 300р.</span>
        </div>
      </a>
    </div>
    <div class="okna-item">
      <a href="okna-rehau/rehau-brilliant">
        <div class="okna-item-title">
          <h2>Rehau Brilliant</h2>
        </div>
        <div class="okna-item-info">
          <p>Повышенная тепло- и шумоизоляция в профиле премиум класса.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/4.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 18 340р.</strike> от 11 240р.</span>
        </div>
      </a>
    </div>
    <div class="okna-item">
      <a href="okna-rehau/rehau-intelio">
        <div class="okna-item-title">
          <h2>Rehau Intelio</h2>
        </div>
        <div class="okna-item-info">
          <p>Поддержание температуры при большой площади остекления.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/5.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 17 970р.</strike> от 7 753р.</span>
        </div>
      </a>
    </div>
    <div class="okna-item">
      <a href="okna-rehau/rehau-tandem">
        <div class="okna-item-title">
          <h2>Rehau Tandem</h2>
        </div>
        <div class="okna-item-info">
          <p>Все преимущества алюминия и пластика в одном профиле Tandem.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/6.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 21 320р.</strike> от 19 000р.</span>
        </div>
      </a>
    </div>
    <div class="okna-item">
      <a href="okna-rehau/rehau-geneo">
        <div class="okna-item-title">
          <h2>Rehau Geneo</h2>
        </div>
        <div class="okna-item-info">
          <p>Новейшие композитные материалы и энергосберегающая система.</p>
        </div>
        <div class="okna-item-img">
          <img src="img/7.png" alt="1">
        </div>
        <div class="okna-item-price">
          <span><strike>от 23 360р.</strike> от 17 210р.</span>
        </div>
      </a>
    </div>
  </div>
</div >