<div class="post-form">
  <div class="post-form-title">
    <h2>Узнайте первым о всех скидках на окна {{ page.model }}</h2>
  </div>
  <form class="otherform">
    <input type="text" name="name" placeholder="Ваше имя" required>
    <input type="number" name="phone" placeholder="Ваш телефон" required>
    <button class="btn" type="submit">Отправить</button>
  </form>
</div>