<div id="ceny" class="price">
  <div class="container">
    <div class="row">
      <div class="price-heading">
        <h2>Цены</h2>
        <p>Вы можете посмотреть примерную стоимость остекления* в самом популярном типе дома — П-44.</p>
      </div>
      <div class="cd-tabs js-cd-tabs">
        <nav>
          <ul class="cd-tabs__navigation js-cd-navigation">
            <li class="price-menu-title"><h3>Тип Профиля</h3></li>
            <li><a data-content="m1" class="cd-selected" href="#">Blitz</a></li>
            <li><a data-content="g1" href="#">Grazio</a></li>
            <li><a data-content="g2" href="#">Delight</a></li>
            <li><a data-content="g3" href="#">Brilliant</a></li>
            <li><a data-content="g4" href="#">Intelio</a></li>
            <li><a data-content="g5" href="#">Tandem</a></li>
            <li><a data-content="g6" href="#">Geneo</a></li>
          </ul> <!-- cd-tabs__navigation -->
        </nav>
        <ul class="cd-tabs__content js-cd-content">
          <li data-content="m1" class="cd-selected">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>10 590 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>9 170 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>7 540 р.</span>
              </div>
            </div>
          </li>
          <li data-content="g1">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>24 494 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>10 718 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>6 332 р.</span>
              </div>
            </div>
          </li>
          <li data-content="g2">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>12 570 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>10 720 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>9 340 р.</span>
              </div>
            </div>
          </li>
          <li data-content="g3">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>16 570 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>11 720 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>11 240р.</span>
              </div>
            </div>
          </li>
          <li data-content="g4">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>29 839 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>13 482 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>7 753 р.</span>
              </div>
            </div>
          </li>
          <li data-content="g5">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>от 19 000 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>от 19 000 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>от 19 000 р.</span>
              </div>
            </div>
          </li>
          <li data-content="g6">
            <div class="cd-selected-wrap">
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-1.png" alt="1">
                <h4>Балконный блок</h4>
                <span>24 570 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-2.png" alt="2">
                <h4>Трехстворчатое окно</h4>
                <span>21 720 р.</span>
              </div>
              <div class="cd-selected-item">
                <img src="img/priceBlock/raskladka-3.png" alt="3">
                <h4>Двухстворчатое окно</h4>
                <span>17 210 р.</span>
              </div>
            </div>
          </li>
        </ul> <!-- cd-tabs__content -->
      </div> <!-- cd-tabs -->
      <div class="snoska">
        <p>*Цены указаны без учета скидок и акций и только за изделия!</p>
      </div>
    </div>
  </div>
</div>