<div class="sale">
  <div class="sale-wrap">
    <div class="sale-title">
      <h1>Акции</h1>
    </div>
    <div class="sale-row">
      <div class="sale-items">
        <div class="sale-items-img">
          <img src="img/akcia_60.jpg" alt="1">
          <div class="sale-items-img-title">
            <h2>Скидка 40% на изделие и 20% на монтаж</h2>
          </div>
        </div>
      </div>
      <div class="sale-items">
        <div class="sale-items-img">
          <img src="img/akcia_setka_new.jpg" alt="1">
          <div class="sale-items-img-title">
            <h2>Москитная сетка в подарок</h2>
          </div>
        </div>
      </div>
      <div class="sale-items">
        <div class="sale-items-img">
          <img src="img/akcia_musor.jpg" alt="1">
          <div class="sale-items-img-title">
            <h2>Вывоз мусора в подарок</h2>
          </div>
        </div>
      </div>
      <div class="sale-items">
        <div class="sale-items-img">
          <img src="img/akcia_i-steklo.jpg" alt="1">
          <div class="sale-items-img-title">
            <h2>1 стекло в подарок</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>