<div class="slider">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/slider_1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div class="slform">
              <div class="slform-title">
                <h2><span>Скидка 53%</span> на пластиковые окна!</h2>
                <hr>
                <p>Время действия акции ограничено!</p>
              </div>
              <form class="otherform">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="number" name="phone" placeholder="Ваш телефон" required>
                <button class="btn" type="submit">Узнать подробности акции</button>
              </form>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/slider_2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div class="slform">
              <div class="slform-title">
                <h2><span>i-Стекло в подарок!</span> Защита от холода</h2>
                <hr>
                <p>Время действия акции ограничено!</p>
              </div>
              <form class="otherform">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="number" name="phone" placeholder="Ваш телефон" required>
                <button class="btn" type="submit">Узнать подробности акции</button>
              </form>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/slider_3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div class="slform">
              <div class="slform-title">
                <h2><span>Гребенка в подарок!</span> Покупайте окна Rehau</h2>
                <hr>
                <p>Время действия акции ограничено!</p>
              </div>
              <form class="otherform">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="number" name="phone" placeholder="Ваш телефон" required>
                <button class="btn" type="submit">Узнать подробности акции</button>
              </form>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/slider_4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div class="slform">
              <div class="slform-title">
                <h2><span>Набор для ухода</span> в подарок при покупке
                  окон Rehau</h2>
                <hr>
                <p>Время действия акции ограничено!</p>
              </div>
              <form class="otherform">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="number" name="phone" placeholder="Ваш телефон" required>
                <button class="btn" type="submit">Узнать подробности акции</button>
              </form>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/slider_5.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div class="slform">
              <div class="slform-title">
                <h2><span>Элитные ручки Roto Swing</span> вместо стандартных Roto Line</h2>
                <hr>
                <p>Только до конца месяца!</p>
              </div>
              <form class="otherform">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="number" name="phone" placeholder="Ваш телефон" required>
                <button class="btn" type="submit">Узнать подробности акции</button>
              </form>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/slider_6.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <div class="slform">
              <div class="slform-title">
                <h2><span>Заделка внешних монтажных швов</span></h2>
                <hr>
                <p>Только до конца сезона</p>
              </div>
              <form class="otherform">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="number" name="phone" placeholder="Ваш телефон" required>
                <button class="btn" type="submit">Узнать подробности акции</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>