<div class="thebest">
  <div class="thebest-wrap">
    <div class="thebest-title">
      <h2>Как мы работаем</h2>
    </div>
    <div class="thebest-row">
      <ul>
        <li><img src="img/howBlock/1.png" alt="1"><p>Позвоните нам или отправьте заявку на обратный звонок</p></li>
        <li><img src="img/howBlock/2.png" alt="1"><p>Бесплатный замер</p></li>
        <li><img src="img/howBlock/3.png" alt="1"><p>Бережная доставка Ваших окон</p></li>
        <li><img src="img/howBlock/4.png" alt="1"><p>Качественный и быстрый монтаж</p></li>
        <li><img src="img/howBlock/5.png" alt="1"><p>Подписание акта приёмки</p></li>
      </ul>
    </div>
  </div>
</div>