<div class="topadv">
  <ul>
    <li><img src="img/check.png" alt="check">Монтаж в сжатые сроки</li>
    <li><img src="img/check.png" alt="check">Бесплатный замер</li>
    <li><img src="img/check.png" alt="check">Гарантия качества</li>
    <li><img src="img/check.png" alt="check">Производство в течение 5 дней</li>
  </ul>
</div>