<div class="topline">
  <div class="topline-logo">
    <a href="/"><img src="img/logo.png" alt="logo"></a>
  </div>
  <div class="topline-btn">
    <a href="#" class='btn open-modal' data-modal="#modal1">Перезвоните мне</a>
    <a href="#" class='btn open-modal' data-modal="#modal1">Бесплатный замер</a>
  </div>
  <div class="topline-call">
    <a href="tel:84950051875"><h3><img src="img/phone.png" alt="phone"> 8(495)005-18-75</h3></a>
    <span>Ежедневно c 9:00 до 21:00</span>
    <a href="#" class='open-modal' data-modal="#modal1">Заказать обратный звонок</a>
  </div>
</div>