---
layout: page
title: Пластиковые окна Grazio – купить качественные окна от производителя "Окна Rehau"
h1: Окна Rehau Grazio
model: "Rehau Grazio"
calc: Grazio
img: img/2.png
description: Окна Rehau Grazio – усовершенствованное предложение для северных районов. С течением времени хочется перемен и наша компания решила представить альтернативу окнам Rehau Sib. В 2017 году на рынок металлопластиковых окон впервые был поставлен профиль Rehau Grazio.
---
 <p><strong>Окна Rehau Grazio – усовершенствованное предложение для северных районов</strong></p>
<p>С течением времени хочется перемен и наша компания решила представить альтернативу окнам <strong>Rehau Sib.</strong> В 2017 году на рынок металлопластиковых окон впервые был поставлен профиль <strong>Rehau Grazio.</strong> Цена на него немного выше базового варианта, но для семейного бюджета не станет сильным отягощением. Характеристики профиля подтверждены испытаниями в суровых условиях.</p>

<h2>Основные технические характеристики окон Rehau Grazio</h2>
<div class="post-content-img">
    <img src="img/grazioparameters.jpg" alt="">
</div>
 {% include /calc_page.html %}
<div class="post-best">
    <h2>Преимущества окон Rehau Grazio</h2>
    <img src="{{ page.img }}" alt="{{ page.title }}">
    <p><strong>Утонченный дизайн с пятикамерным стеклопакетом</strong></p>
    <p>Новый профиль разработан в дизайне со скругленными углами и плавными скосами, а площадь поверхности, пропускающей свет, значительно больше стандартного стекла в деревянной раме. В пространстве, оформленном оконной системой Rehau Grazio, значительно светлее и уютнее, увеличивается площадь обзора.</p>
    <p>Для профиля возможно изготовление в стандартном белом цвете или декорирование специальными пленками, позволяющими расширить эстетическую ценность, не теряя показателей надежности и долговечности. Пленки разного цвета, а также имитирующие дерево обеспечивают богатый выбор для реализации интересных дизайн-проектов.</p>
    <p><strong>Теплосбережение</strong></p>
    <p>Для северных районов важной характеристикой остается теплосбережение, обеспечивающей экономию затрат на отопление жилых и офисных пространств. Высокий показатель теплоизоляции профиля достигается пятикамерным стеклопакетом толщиной до 70 мм.</p>
    <p>Более высокие показатели теплоэффективности достигаются при установке многофункционального стеклопакета толщиной от 40 мм или установкой дополнительных двухкамерных теплопакетов.</p>
    <p><strong>Устойчивость к ветровым нагрузкам и трескучим морозам</strong></p>
    <p>Структура профильной конструкции и расчет стеклопакета Rehau Grazio обеспечивают надежную защиту от шквального ветра, включая снежные и пыльные бури. Показатели морозоустойчивости обусловливают надежную защиту помещения в суровых зимних условиях. Даже при 40-градусном морозе внутренне пространство не подвержено воздействию холода.</p>
    <p><strong>Пылезащищенность и звуконепроницаемость</strong></p>
    <p>Благодаря уникальной конструкции, профиль обеспечивает высокий коэффициент защиты от внешних шумов. Уплотнитель, выполненный из сотового каучука, прочная и надежная преграда не только для шума, но и для пыли.</p>
</div>
<h2>Остекление объектов системами Rehau Grazio</h2>
<p>Профиль разрабатывался как универсальная система, подходящая как для индивидуального строительства, так и для малоэтажных и многоэтажных проектов значительного масштаба. Система монтажа позволяет устанавливать окна Rehau Grazio в сжатые сроки. Доступная цена на фоне эксплуатационной ценности и срока службы в 60 лет обеспечивает использование профиля в бюджетных проектах.
</p>
<p>Профиль надежно защищает внутреннее пространство от шума, пыли, холода и жары. Является сложно пробиваемым препятствием при попытке попасть в помещение, разбив стекло. Значительно экономит затраты на обогрев пространства зимой и охлаждение летом, обеспечивая оптимальный микроклимат</p>
<h2>Стоимость остекления профилем Rehau Grazio</h2>
<p>Для Вашего удобства мы произвели расчет стоимости остекления окнами Grazio для популярного типа дома П-44. Точная цена для Вашего дома или квартиры определяется после замера нашим специалистом, который Вы можете заказать по телефону +7 (968) 512-20-00. Замер и консультация осуществляется бесплатно.</p>
<div class="post-content-img">
    <img src="img/priceBlock/raskladka.png" alt="">
</div>
<table>
    <tbody>
    <tr>
        <td>Балконный блок</td>
        <td class="price">24 494 руб.</td>
    </tr>
    <tr>
        <td>Трехстворчатое окно</td>
        <td class="price">10 718 руб.</td>
    </tr>
    <tr>
        <td>Двустворчатое окно</td>
        <td class="price">6 332 руб.</td>
    </tr>
    </tbody>
</table>

 {% include /post_form.html %}