{% include /head_home.html %}
<header>
  {% include /navbar_mobile.html %}
  {% include /topline.html %}
  {% include /navbar_pc.html %}
  {% include /topadv.html %}
</header>

<main>
  {% include /slider.html %}
  {% include /okna.html %}
  {% include /calc.html %}
  {% include /price.html %}
  {% include /advantages.html %}
  {% include /gallery.html %}
  {% include /contact.html %}
  {% include /thebest.html %}
</main>

{% include /footer.html %}


