{% include /head_page.html %}
<header>
    {% include /navbar_mobile.html %}
    {% include /topline.html %}
    {% include /navbar_pc.html %}
    {% include /topadv.html %}
</header>
<main class="post">
    <div class="post-title">
        <h1>{{ page.h1 }}</h1>
    </div>
    <div class="post-content">
        {{ content }}
    </div>
</main>
{% include /footer.html %}