{% include /head_page.html %}
<header>
    {% include /navbar_mobile.html %}
    {% include /topline.html %}
    {% include /navbar_pc.html %}
    {% include /topadv.html %}
</header>
<main>
    {% include /sale.html %}
</main>
{% include /footer_nocalc.html %}