---
layout: page
title: Пластиковые окна Rehau Geneo - Купить окна Rehau Geneo от производителя - официальный сайт "Окна Rehau"
h1: Окна Rehau Geneo
model: Rehau Geneo
calc: Geneo
img: img/7.png
description: Революционная разработка компании REHAU, появившаяся в ответ на повышенные требования рынка к теплосберегающим и звукоизолирующим системам остекления. Окна Rehau Geneo характеризуются особой структурой материала профиля, содержащего в виде армирующего слоя фиброволокно.
---
<p>Революционная разработка компании REHAU, появившаяся в ответ на повышенные требования рынка к теплосберегающим и звукоизолирующим системам остекления. Окна <strong>Rehau Geneo</strong> характеризуются особой структурой материала профиля, содержащего в виде армирующего слоя фиброволокно. Такой тип армирования доказал свою эффективность при конструировании высокоскоростных транспортных средств.</p>
<p>Многообразие форм и размеров, а также богатый ассортимент оттенков обеспечивают невероятные возможности для реализации дизайн-проектов конструкций высокой сложности.</p>

<h2>Технические характеристики окон Rehau Geneo</h2>
<div class="post-content-img">
    <img src="img/geneoparameters.jpg" alt="">
</div>
{% include /calc_page.html %}
<div class="post-best">
    <h2>Преимущества окон Rehau Geneo</h2>
    <img src="{{ page.img }}" alt="{{ page.title }}">
    <p><strong>Теплоизоляция класса «А» и энергосбережение</strong></p>
    <p>Каким бы суровым и штормообильным не был климат, где вы живете, окна Rehau Geneo позволят вам забыть о непогоде и сильном морозе. Специальные камеры профиля для термовставки обеспечивают сохранение микроклимата в помещении даже в условиях Крайнего Севера.</p>
    <p>Встроенный термомодуль позволяет сохранять до 76% энергии тепла, что значительно снижает затраты на обогрев пространств любой площади. Окна рекомендованы для остекления энергоэффективных конструкций.</p>
    <p>Конструкция обеспечивает возможность повышения температуры на 2-4 градуса при одинаковых затратах на отопление.</p>
    <p><strong>Прочность и надежность</strong></p>
    <p>Алюминиевый каркас профиля претерпел изменения и теперь представлен на композицию сверхпрочного пластика и тонкого алюминия. Фиброармирование обеспечивает конструкции легкость с сохранением коэффициента прочности. Это позволяет использовать окна в многоуровневых конструкциях.</p>
    <p><strong>Тишина, не подвластная окружению</strong></p>
    <p>Обеспечить комфорт вблизи оживленных автострад, инфраструктурных объектов, строек, стадионов, игровых площадок и развлекательных центров можно с окнами Rehau Geneo. Продуманная система изоляции и 66-миллиметровый фальц, а также особый трехкамерный стеклопакет формируют надежный барьер на пути шума, поглощая до 45 дБ. Вы не почувствуете близости шумных объектов.</p>
<p><strong>Rehau Geneo</strong> – окна, совмещающие высокую прочность, долговечность, функциональность и предоставляющие возможность проявить творческий подход к остеклению конструкций.</p>
    <p>Вас заинтересовало предложение в виде профиля Rehau Geneo и вам хотелось бы узнать об окнах REHAU подробнее? Звоните +7 (968) 512-20-00 или заполните форму обратной связи, чтобы наши консультанты смогли перезвонить вам и ответить на все интересующие вас вопросы.</p>
</div>
<h2>Стоимость остекления профилем Rehau Geneo</h2>
<p>Для Вашего удобства мы произвели расчет стоимости остекления окнами Geneo для популярного типа дома П-44. Точная цена для Вашего дома или квартиры определяется после замера нашим специалистом, который Вы можете заказать по телефону +7 (968) 512-20-00. Замер и консультация осуществляется бесплатно.</p>
<div class="post-content-img">
    <img src="img/priceBlock/raskladka.png" alt="">
</div>
<table>
    <tbody>
    <tr>
        <td>Балконный блок</td>
        <td class="price">24 570 руб.</td>
    </tr>
    <tr>
        <td>Трехстворчатое окно</td>
        <td class="price">21 720 руб.</td>
    </tr>
    <tr>
        <td>Двустворчатое окно</td>
        <td class="price">17 210 руб.</td>
    </tr>
    </tbody>
</table>

{% include /post_form.html %}