---
layout: page
title: Пластиковые окна Rehau Intelio – купить качественные окна от производителя "Окна Rehau"
h1: Окна Rehau Intelio
model: "Rehau Intelio"
calc: Intelio
img: img/5.png
description: Инновационная разработка немецких инженеров в виде пластикового окна Rehau Intelio соединила в себе показатели высокого коэффициента шумопоглощения и максимальной светопроницаемости. Окна не подвержены воздействию атмосферных осадков и являются надежным барьером на пути грабителей.
---
<p>Инновационная разработка немецких инженеров в виде пластикового окна Rehau Intelio соединила в себе показатели высокого коэффициента шумопоглощения и максимальной светопроницаемости. Окна не подвержены воздействию атмосферных осадков и являются надежным барьером на пути грабителей.</p>
<p>Дизайн профиля выполняется в двух вариантах наплавов – стандартный (скошенный) и скругленный.</p>
<p>«Умная» система теплоизоляции основана на ноу-хау компании REHAU – конвекционном ограничителе (дополнительном уплотнительном лепестке в фальце стеклопакета, разделяющем воздушное пространство на две предкамеры, не зависящие друг от друга). Также теплоизоляционные показатели повышаются благодаря шести воздушным камерам и общей глубине в 80 мм.</p>
<p>Инновационная система уплотнений обеспечивает высокие показатели устойчивости сырости, пыли и другим факторам, проникновение которых в помещение недопустимо.</p>
<p>Гладкость поверхности профиля, не подверженная воздействию атмосферных явлений, обеспечивает эксплуатацию профилей, которые долго не загрязняются. А значит на обслуживание окон будет уходить меньше средств.</p>

<h2>Технические характеристики окон Rehau Intelio</h2>
<div class="post-content-img">
    <img src="img/intelioparameters.jpg" alt="">
</div>
{% include /calc_page.html %}
<div class="post-best">
    <h2>Преимущества окон Rehau Intelio</h2>
    <img src="{{ page.img }}" alt="{{ page.title }}">

    <p>Наравне с ценными дизайнерскими характеристиками окнам Rehau Intelio свойственны высокие показатели надежности, светопропускной способности, энергосбережения и поглощения шума. Окна хорошо зарекомендовали себя даже в суровых условиях российской зимы.</p>
    <p>Теплоизоляционные характеристики позволяют сохранять комфортную температуру в помещении в зимние холода, жаркое лето и в сырое межсезонье. Ограничители конвекции препятствуют проникновению холодного или раскаленного воздуха извне. Система защиты от пыли и сырости обеспечивает чистоту в помещении.</p>
    <p>Благодаря поглощению до 45 дБ шума, профиль создает во внутреннем пространстве спокойную атмосферу даже при непосредственной близости к стадионам, автомагистралям, инфраструктурным и строительным объектам.</p>
    <p>Желаете создать комфортные условия проживания или работы без посторонних шумов – отдайте предпочтение окнам Rehau Intelio.</p>
    <p>Если Вас заинтересовали окна Rehau Intelio, оставьте заявку или позвоните нам по телефону +7 (968) 512-20-00, и наши консультанты с удовольствием ответят на все Ваши вопросы.</p>
</div>

<h2>Стоимость остекления профилем Rehau Intelio</h2>
<p>Для Вашего удобства мы произвели расчет стоимости остекления окнами Intelio для популярного типа дома П-44. Точная цена для Вашего дома или квартиры определяется после замера нашим специалистом, который Вы можете заказать по телефону +7 (968) 512-20-00. Замер и консультация осуществляется бесплатно.</p>
<div class="post-content-img">
    <img src="img/priceBlock/raskladka.png" alt="">
</div>
<table>
    <tbody>
    <tr>
        <td>Балконный блок</td>
        <td class="price">29 839 руб.</td>
    </tr>
    <tr>
        <td>Трехстворчатое окно</td>
        <td class="price">13 482 руб.</td>
    </tr>
    <tr>
        <td>Двустворчатое окно</td>
        <td class="price">7 753 руб.</td>
    </tr>
    </tbody>
</table>

{% include /post_form.html %}