/*Основной лист стилей*/

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.left {
	position:relative;
	float:left;
}
.right {
	position:relative;
	float:right;
	text-align:right;
}
body, html {
	padding:0px;
	margin:0px;
}
body {
	text-align:center;
	background-color:#fff;
	color:#000;
	font-family: sans-serif;
	text-align:justify;
}

/*Верхняя часть*/
#header .contentCarrier {
	margin:0px auto 0px auto;
}
#mainMenuCarrier {
	width:100%;
	clear:both;
}
#mainMenuCarrier #mainMenu {
	margin:auto;
	display:table;
}
#mainMenuCarrier #mainMenu ul {
	display:table-row;
	padding:0px;
	margin:0px;
}	
#mainMenuCarrier #mainMenu li {
	display:table-cell;
	list-style:none;
	text-align:center;
}
#mainMenuCarrier #mainMenu li a {
	display:block;
	text-decoration:none;
}
/*/Верхняя часть*/

/*Основное тело*/
#carrier .contentCarrier {
	margin:auto;
}
/*/Основное тело*/

/*Футер*/
#footer .contentCarrier {
	margin:auto;
}
/*/Футер*/

/*Общее*/
img {
	border:none;
	padding:0px;
	margin:0px;
}
.imgr {
	float:right;
	margin:5px 0px 10px 30px;
}
.imgl {
	float:left;
	margin:5px 30px 10px 0px;
}
.clear {
	clear:both;
}
hr {
	border:none; 
	height:1px; 
	display:block;
	clear:both;
}
.center {
	text-align:center;
}
.modalCaller {
	cursor:pointer;
}
/*/Общее*/