---
layout: page
title: Простые и качественные окна "Rehau Blitz"
h1: Окна Rehau Blitz
model: "Rehau Blitz"
calc: Blitz
img: img/1.png
description: Технология производства и специально разработанная структура профиля Blitz обеспечивают достаточную степень защиты от непогоды и шума. Без высоких капиталовложений достигаются высокие показатели энергоэффективности.
---
  <p><strong>Высокое качество – доступная цена</strong></p>
  <p>Вариант профиля <strong>REHAU</strong> без излишеств. Технология производства и специально разработанная структура профиля Blitz обеспечивают достаточную степень защиты от непогоды и шума. Без высоких капиталовложений достигаются высокие показатели энергоэффективности. Соотношение доступной цены и высокого качества – результат применения в технологии последних достижений науки, позволяющих оптимизировать расходы на производство.</p>
  <p>Соблюдение стандартов международной системы сертификации, а также схожесть климата Германии и России обеспечивают окнам востребованность  от южной до северной полосы страны. Немецкие разработчики обеспечили эталонные показатели шумоизоляции и энергоэффективности. Окна REHAU с профилем Blitz – надежность и долговечность в любых условиях.</p>
  <h2>Технические характеристики окон Rehau Blitz</h2>
  <div class="post-content-img">
    <img src="img/blitzparameters.jpg" alt="">
  </div>
{% include /calc_page.html %}
<div class="post-best">
  <h2>Преимущества окон Rehau Blitz</h2>
  <img src="{{ page.img }}" alt="{{ page.title }}">
  <p><strong>Светлее и уютнее</strong></p>
  <p>В сравнении с привычными деревянными рамами площадь рамной  конструкции этого окна обеспечивает прохождение солнечных лучей на площади, большей на 288 кв. см. Этого достаточно, чтобы света в помещении стало больше и ваш зрение не подвергалось сильным нагрузкам.</p>
  <p><strong>Комфортная температура и энергосбережение</strong></p>
  <p>Конструкция стеклопакета и окна Blitz в целом сохраняют до 90% тепловой энергии, что позволяет даже в зимний период повысить комнатную температуру на 4°C при тех же затратах на обогрев.
  </p>
  <p>Летом такой профиль надежно защищает внутреннее пространство вашего дома от раскаленного воздуха, позволяя наслаждаться приятной естественной прохладой.</p>
  <p><strong>Тишь и благодать</strong></p>
  <p>Надоедающий шум с улицы не будет больше вас беспокоить, потому что окна Blitz – надежная преграда на пути шумовой волны, на 25 дБ сокращающая ее силу. Вам не будут докучать детские крики с игровой площадки или звуки интенсивного транспортного движения.</p>
  <p><strong>Долговечность, проверенная временем</strong></p>
  <p>На рынке окон компания Рехау «хозяйничает» уже более 60 лет. Анализ сроков эксплуатации установленных оконных систем показал, что в среднем хозяевам можно 40 лет не заботиться о ремонте окон. Планируя бюджет семьи после установки окон нашей компании, вы свободны от затрат на ремонт окон.</p>
  <p>Вас заинтересовало предложение в виде профиля Blitz и вам хотелось бы узнать об окнах REHAU подробнее? Звоните +7 (968) 512-20-00 или заполните форму обратной связи, чтобы наши консультанты смогли перезвонить вам и ответить на все интересующие вас вопросы.
  </p>
</div>
<h2>Стоимость остекления профилем Rehau Blitz</h2>
<p>Для Вашего удобства мы произвели расчет стоимости остекления окнами Blitz для популярного типа дома П-44. Точная цена для Вашего дома или квартиры определяется после замера нашим специалистом, который Вы можете заказать по телефону +7 (968) 512-20-00. Замер и консультация осуществляется бесплатно.</p>
<div class="post-content-img">
  <img src="img/priceBlock/raskladka.png" alt="">
</div>
<table>
  <tbody>
  <tr>
    <td>Балконный блок</td>
    <td class="price">10 590 руб.</td>
  </tr>
  <tr>
    <td>Трехстворчатое окно</td>
    <td class="price">9 170 руб.</td>
  </tr>
  <tr>
    <td>Двустворчатое окно</td>
    <td class="price">7 540 руб.</td>
  </tr>
  </tbody>
</table>
{% include /post_form.html %}