/*Слайдер*/
#sliderCarrier {
	margin:auto;
	height:800px;
	clear:both;
	font-family:'Museo Cyr', sans-serif;
	color:#222;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
#sliderCarrier .block {
	height:550px;
	sborder:solid 1px #000;
	padding-top:60px;
}
#sliderCarrier .nivoBlockCarrier {
	width:1120px;
	margin:auto;
	position:relative;
}
#sliderCarrier #prevNav {
	display:block;
	position:absolute;
	float:left;
	width:50px;
	height:55px;
	background-image:url(../img/arrow_left.png);
	cursor:pointer;
	text-decoration:none;
	opacity:1.0;
	border:none;
	top:40%;
	padding:0px;
	background-position:left top;
}
#sliderCarrier #prevNav:hover {
	background-position:left -60px;
}
#sliderCarrier #nextNav {
	display:block;
	position:absolute;
	float:right;
	right:7px;
	width:50px;
	height:55px;
	background-image:url(../img/arrow_right.png);
	cursor:pointer;
	text-decoration:none;
	opacity:1.0;
	border:none;
	top:40%;
	padding:0px;
	background-position:left top;
}
#sliderCarrier #nextNav:hover {
	background-position:left -60px;
}
#sliderCarrier .right {
	text-align:right;
	width:550px;
	padding:15px;
}
#sliderCarrier .right span {
	display:block;
}
#sliderCarrier .right .title {
	font-size:50px;
	color:#9f005e;
	padding-bottom:15px;
}
#sliderCarrier .right .cond {
	font-size:35px;
	height:100px;
	dborder:solid 1px #000;
}
#sliderCarrier .right .cond2 {
	font-size:20px;
	dborder:solid 1px #000;
	margin-top:15px;
	height:80px;
}
#sliderCarrier .right hr {
	width:500px;
	float:right;
	background:#222;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:  0px 1px 0px 0px rgba(255, 255, 255, 1);
}
#sliderCarrier .right .sliderForm {
	clear:both;
	sborder:solid 1px #000;
	font-size:14px;
	padding-top:15px;
}
#sliderCarrier .right .sliderForm input {
	width:160px;
}
#sliderCarrier .right .sendButton {
	float:right;
	width:300px;
	padding:20px 20px 20px 20px;
	margin-top:23px;
}
/*/Слайдер*/

/*Калькулятор*/
/*Тело*/
/*Левый блок*/
#calculatorBlock .left {
	float:left;
	width:270px;
	border-right:solid 1px #c6cbd1;
	text-align:center;
	height:470px;
}
#calculatorBlock .left #modelList {
	display:none;
	position:absolute;
	z-index:10;
	top:40px;
	left:150px;
	text-align:left;
	padding:0px;
	border:solid 1px #a0a8b1;
	background-color:#a0a8b1;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 0px 10px 0px;
	text-align:center;
	color:#fff;
	font-size:20px;
	margin-top:18px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
#calculatorBlock .left #modelList ul {
	padding:0px;
	margin:0px;
}
#calculatorBlock .left #modelList li {
	padding:0px;
	margin:0px;
	list-style:none;
	font-size:18px;
	padding:7px 10px 7px 10px;
	color:#fff;
	font-weight:200;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	cursor:pointer;
}
#calculatorBlock .left #modelList li:hover {
	text-decoration:underline;
}
#calculatorBlock .left #profileTitle {
	text-align:center;
	font-weight:200;
	font-size:22px;
	color:#9f005e;
	cursor:pointer;
}
#calculatorBlock .left #profile {
	text-align:center;
}
/*Правый блок*/
#calculatorBlock .right {
	float:right;
	width:310px;
	border-left:solid 1px #c6cbd1;
	height:470px;
}
#calculatorBlock .right #totalPrice {
	margin:10px 30px 20px 30px;
	padding:10px 20px 10px 20px;
	border:solid 1px #000;
	color:#fff;
	font-size:40px;
	text-align:center;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 0px #b03b80;
	background-color:#fff;
	zoom:1;
	overflow:hidden;
	color:#9f005e;
}
#calculatorBlock .right form {
	display:block;
	margin:auto;
	margin:10px 30px 50px 30px;
	dborder:solid 1px #000;
	text-align:left;
	font-size:14px;
}
#calculatorBlock .right .sendButton {
	padding:20px 20px 20px 20px;
	font-size:17px;
	margin-top:35px;
}
#calculatorBlock .right input {
	width:170px;
	display:block;
	margin-bottom:15px;
	text-align:left;
}
/*Центральный блок*/
#calculatorBlock .content {
	margin:0px 330px 0px 270px;
	sborder:solid 1px #000;
	text-align:center;
}
#calculatorBlock .content input {
	text-align:center;
	padding:2px 20px 2px 20px;
}
#calculatorBlock .content #profileList .leafsMenu {
	padding:5px;
	cursor:pointer;
}
#calculatorBlock .content #profileList .leaf img {
	border:solid 2px #fff;
}
#calculatorBlock .content #profileList .drop .leafsMenu {
	border:solid 2px #eee;
}
#calculatorBlock .content #profileList {
	text-align:center;
	padding:5px 0px 20px 60px;
	height:60px;
}
#calculatorBlock .content #profileList .drop {
	display:none;
	position:absolute;
	border:solid 1px #999;
	background-color:#a0a8b1;
	margin-left:-11px;
	margin-top:-75px;
	z-index:20;
}
#calculatorBlock .content #profileList ul {
	margin:0px;
	padding:0px;
}
#calculatorBlock .content #profileList li {
	float:left;
	list-style:none;
	margin:10px 10px 0px 10px;
	padding:0px;
	line-height:0px;
}
#calculatorBlock .content #profileList .drop ul {
	margin:0px;
	padding:0px;
}
#calculatorBlock .content #profileList .drop li {
	float:none;
	display:list-item;
	list-style:none;
	padding-bottom:10px;
	z-index:100;
}
#calculatorBlock .content #profileList .drop img:hover {
	border:solid 2px #9f005e;
}
#calculatorBlock .content #profileMenuCarrier {
	display:table;
	width:100%;
	margin:10px 0px 10px 0px;
	width:100%;
	border-style:solid;
	border-width:1px;
	border-color:#92a5b1;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}
#calculatorBlock .content #profileMenuCarrier #profileMenu {
	padding:0px 0px 40px 0px;
	margin:0px;
	width:100%;
	display:table-row;
}
#calculatorBlock .content #profileMenu li {
	display:table-cell;
	padding:3px;
	margin:10px 50px 10px 50px;
	list-style:none;
	font-size:24px;
	cursor:pointer;
	color:#ff5a00;
	border-style:solid;
	border-width:0px;
	border-color:#92a5b1;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	text-align:center;
	width:20%;
}
#calculatorBlock .content #verticalScrollCarrier {
	text-align:center;
	font-size:12px;
	float:left;
	position:relative;
	margin:0px 0px 0px 40px;
	width:10px;
	height:253px;
	dborder:solid 1px #000;
}
#calculatorBlock .content #currentLeafCarrier {
	fborder:solid 1px #000;
	margin:70px 60px 40px 60px;
}
#calculatorBlock .content #verticalScrollCarrier #verticalScroll {
	margin:auto;
	width:6px;
	height:253px;
	cursor:pointer;
	background-color:#a0a8b1;
	border:solid 1px #a0a8b1;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#calculatorBlock .content #verticalScrollCarrier #verticalScroll #verticalBox {
	position:relative;
	top:230px;
	left:-6px;
	height:15px;
	width:15px;
	cursor: pointer;
	background-color: rgba(176, 59, 128, 1);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:solid 0px #b03b80;
}
#calculatorBlock .content #horizontalScrollCarrier #horizontalScroll #horizontalBox {
	position:relative;
	top:-6px;
	height:15px;
	width:15px;
	cursor: pointer;
	background-color: rgba(176, 59, 128, 1);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:solid 0px #b03b80;
}
#calculatorBlock .content #horizontalScrollCarrier {
	text-align:center;
	font-size:12px;
	width:253px;
	height:10px;
	margin:50px auto 0px auto;
}
#calculatorBlock .content #horizontalScrollCarrier #horizontalScroll {
	margin:auto;
	width:253px;
	height:6px;
	background-color:#a0a8b1;
	border:solid 1px #a0a8b1;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
/*/Тело*/
/*Общее*/
#calculatorBlock .title {
	display:block;
	text-align:center;
	font-weight:200;
	font-size:20px;
	padding:20px 0px 20px 0px;
}
/*/Калькулятор*/