/*Пользовательский лист стилей*/

@font-face {
    font-family: 'Museo Cyr';
    src: url('../fonts/museosanscyrl-500.eot');
    src: url('../fonts/museosanscyrl-500.eot@') format('embedded-opentype'),
         url('../fonts/museosanscyrl-500.woff') format('woff'),
         url('../fonts/museosanscyrl-500.ttf.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	color:#222;
	font-family:'Museo Cyr', sans-serif;
	overflow-x:hidden;
	min-width:1100px;
}
html {
	overflow-x:hidden;
}
/*Верхняя часть*/
#header {
	min-width:1120px;
	font-size:14px;
	z-index:10;
	position:absolute;
	width:100%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
#header .contentCarrier {
	width:1000px;
}
#header .contentCarrier .left {
	width:240px;
	padding:19px 0px 25px 0px;
}
#header .contentCarrier .right {
	width:320px;
	margin:0px 0px 0px 0px;
	padding:20px 0px 0px 0px;
	font-size:12px;
}
#header .contentCarrier .right #phoneNumber {
	font-size:30px;
	text-decoration:none;
}
#header .contentCarrier .right #workTime {
	line-height:15px;
	margin:5px 1px 6px 0px;
	display:block;
}
#header .contentCarrier .right #topOrder {
	color:#9f005e;
}
#header .contentCarrier .right #topOrder:hover {
	text-decoration:underline;
}
#header .contentCarrier .right #topPhone {
	top:20px;
	position:absolute;
	float:left;
	left:10px;
}
#header .contentCarrier .content {
	margin:0px 450px 0px 300px;
	padding-top:11px;
}
#header .contentCarrier .content #topForm .modalCaller {
	padding:8px 0px 8px 0px;
	margin:7px;
}
#header .contentCarrier .content #topForm .modalCaller:first-child {
	margin-bottom:13px;
}
#header #topAdvantages {
	background: #828a93; 
	background: -moz-linear-gradient(top,  #828a93 0%, #a0a8b1 6%, #a0a8b1 97%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828a93), color-stop(6%,#a0a8b1), color-stop(97%,#a0a8b1), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828a93', endColorstr='#ffffff',GradientType=0 );
}
#header #topAdvantages ul {
	display:block;
	width:1000px;
	margin:18px auto 10px auto;
	padding:8px 0px 15px 0px;
}
#header #topAdvantages ul li {
	display:inline-block;
	list-style:none;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	color:#fff;
	font-size:15px;
	margin-right:37px;
}
#header #topAdvantages ul li:last-child {
	margin-right:0px;
}
#header #topAdvantages ul li:before { 
	background-image:url(../img/check.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	content: "  ";
	width: 30px;
	height:32px;
	margin:0px 10px -10px 0px;
	display:inline-block;
}
/*/Верхняя часть*/

/*Главное меню*/
#mainMenuCarrier {
	z-index:10;
}
#mainMenuCarrier #mainMenu {
	width:1000px;
	font-size:15px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
#mainMenuCarrier #mainMenu li {
	width:14%;
}
#mainMenuCarrier #mainMenu li a {
	padding:11px 0px 9px 0px;
	background-color:#fff;
	border-width:1px 0px 1px 0px;
	border-style:solid;
	border-color:#fff;
	color:#222;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
#mainMenuCarrier #mainMenu ul li:first-child a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#fff;
}
#mainMenuCarrier #mainMenu ul li:first-child a:hover {
	border-color:#a0a8b1;
}
#mainMenuCarrier #mainMenu ul li:last-child a {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-width:1px;
	border-style:solid;
	border-color:#fff;
}
#mainMenuCarrier #mainMenu ul li:last-child a:hover {
	border-color:#a0a8b1;
}
#mainMenuCarrier #mainMenu li a:hover {
	background-color:#a0a8b1;
	border-color:#a0a8b1;
}
/*/Главное меню*/

/*Основное тело*/
#carrier .contentCarrier {
	min-width:1120px;
}
#carrier .contentCarrier #sliderCarrier {
	height:801px;
}
/*Основной блок"*/
#carrier .contentCarrier #mainBlock h1 {
	border-top:solid 1px #c6cbd1;
}
#carrier .contentCarrier #mainBlock #mainBlockMenu {
	background: #828a93; 
	background: -moz-linear-gradient(top,  #828a93 0%, #a0a8b1 6%, #a0a8b1 97%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828a93), color-stop(6%,#a0a8b1), color-stop(97%,#a0a8b1), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828a93', endColorstr='#ffffff',GradientType=0 );
	padding:0px;
}
#carrier .contentCarrier #mainBlock .etabs {
	margin:0px;
	padding:0px;
	width:1000px;
	margin:auto;
}
#carrier .contentCarrier #mainBlock .etabs .ui-tabs-selected {
	color:#222;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
#carrier .contentCarrier #mainBlock .tab {
	width:246px;
	text-align:center;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin:0px;
	padding:0px;
	font-weight:200;
}
#carrier .contentCarrier #mainBlock .tab a {
	font-size:20px;
	dline-height: 2em;
	display: block;
	padding:10px 0px 10px 0px;
	outline: none;
	color:#fff;
	text-decoration:none;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
#carrier .contentCarrier #mainBlock .tab a:hover {
	text-decoration: underline;
}
#carrier .contentCarrier #mainBlock .tab .active {
	padding-top: 6px;
	position: relative;
	top: 1px;
	color:#000;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
#carrier .contentCarrier #mainBlock .tab-container .panel-container {
	background:  #fff;
	border: solid #666 1px;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}
#carrier .contentCarrier #mainBlock .tabEl {
	height:600px;
	sborder:solid 1px #000;
}
#carrier .contentCarrier #mainBlock .tabEl h2 {
	margin:0px;
	padding:30px 0px 10px 0px;
	text-align:left;
	font-size:35px;
	color:#9f005e;
}
#carrier .contentCarrier #mainBlock .tabEl .left {
	width:380px;
	dborder:solid 1px #000;
}
#carrier .contentCarrier #mainBlock .tabEl .content {
	padding:80px 0px 0px 0px;
	margin-left:380px;
}
#carrier .contentCarrier #mainBlock .tabEl .content ul {
	padding:0px;
	margin:0px;
}
#carrier .contentCarrier #mainBlock .tabEl .content li {
	list-style:none;
	color:#222;
	font-size:15px;
	margin-top:20px;
}
#carrier .contentCarrier #mainBlock .tabEl .content ul li:before { 
	background-image:url(../img/check_purple.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	content: "  ";
	width: 30px;
	height:32px;
	margin:0px 10px -10px 0px;
	display:inline-block;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	margin:40px 0px 0px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 0px #b03b80;
	padding:30px;
	zoom:1;
	overflow:hidden;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .left {
	width:50%;
	border-right:solid 1px #222;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .left span {
	display:block;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .content {
	margin-left:55%;
	dborder:solid 1px #222;
	padding:5px 0px 0px 0px;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .content .modalCaller {
	margin:7px;
	padding:20px 20px 20px 20px;
	font-size:20px;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .left .oldPrice {
	display:inline;
	font-size:20px;
	font-weight:200;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .left .priceTitle {
	margin-top:18px;
	font-size:25px;
	font-weight:200;
}
#carrier .contentCarrier #mainBlock .tabEl .content .mainBlockForm .left .newPrice {
	display:inline;
	font-size:40px;
	color:#9f005e;
	font-weight:200;
}
/*"Калькулятор"*/
#carrier .contentCarrier #calculatorBlock {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	background: rgb(215, 220, 226);
	background: -moz-linear-gradient(90deg, rgb(215, 220, 226) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(215, 220, 226) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(215, 220, 226) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(215, 220, 226) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(180deg, rgb(215, 220, 226) 0%, rgb(255, 255, 255) 100%);
	border-style:solid;
	border-width:1px 0px 1px 0px;
	border-color:#c6cbd1;
}
#carrier .contentCarrier #calculatorBlock .block {
	background-color: rgba(255, 255, 255, 0.4);
}
#carrier .contentCarrier #calculatorBlock h2 {
	border-bottom:solid 1px #c6cbd1;
}
/*"Цены"*/
#carrier .contentCarrier #priceBlock {
	margin-bottom:30px;
}
#carrier .contentCarrier #priceBlock #priceBlockMenu {
	float:left;
	width:200px;
	border:solid 1px #a0a8b1;
	background-color:#a0a8b1;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 0px 10px 0px;
	text-align:center;
	color:#fff;
	font-size:20px;
	margin-top:18px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
#carrier .contentCarrier #priceBlock #priceBlockMenu ul {
	padding:10px;
	margin:10px 0px 0px 0px;
	border-top:solid 1px #ccc;
}
#carrier .contentCarrier #priceBlock #priceBlockMenu li {
	padding:0px;
	margin:15px 0px 0px 0px;
	list-style:none;
	text-align:center;
}
#carrier .contentCarrier #priceBlock #priceBlockMenu li a {
	color:#fff;
	text-decoration:none;
}
#carrier .contentCarrier #priceBlock #priceBlockMenu li a:hover {
	text-decoration:underline;
}
#carrier .contentCarrier #priceBlock #priceBlockMenu li .active {
	color:#000;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
#carrier .contentCarrier #priceBlock .title {
	display:block;
	text-align:center;
	padding-bottom:30px;
	font-size:20px;
}
#carrier .contentCarrier #priceBlock .tabEl2 {
	fborder:solid 1px #000;
	margin-left:230px;
}
#carrier .contentCarrier #priceBlock .tabEl2 table {
	width:100%;
	font-weight:200;
	font-size:20px;
}
#carrier .contentCarrier #priceBlock .tabEl2 table .p1 {
	width:270px;
	padding-left:25px;
}
#carrier .contentCarrier #priceBlock .tabEl2 table .p2 {
	width:275px;
}
#carrier .contentCarrier #priceBlock .tabEl2 .price {
	font-size:35px;
	color:#9f005e;
}
#carrier .contentCarrier #priceBlock .cond {
	font-size:12px;
	text-align:right;
	display:block;
	padding-top:20px;
	color:#999;
}
/*"Наши преимущества"*/
#carrier .contentCarrier #advantagesBlock {
	background-color:#ebeef0;
	padding-bottom:50px;
}
#carrier .contentCarrier #advantagesBlock table {
	dwidth:90%;
	dborder:solid 1px #000;
	margin-left:50px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
#carrier .contentCarrier #advantagesBlock td {
	padding:40px 0px 40px 110px;
	background-position:left center;
	background-repeat:no-repeat;
	width:50%;
	text-align:left;
	font-size:20px;
}
#carrier .contentCarrier #advantagesBlock .a1 {
	background-image:url(../../_data/photos/advantagesBlock/1.png);
}
#carrier .contentCarrier #advantagesBlock .a2 {
	background-image:url(../../_data/photos/advantagesBlock/2.png);
}
#carrier .contentCarrier #advantagesBlock .a3 {
	background-image:url(../../_data/photos/advantagesBlock/3.png);
}
#carrier .contentCarrier #advantagesBlock .a4 {
	background-image:url(../../_data/photos/advantagesBlock/4.png);
}
#carrier .contentCarrier #advantagesBlock .a5 {
	background-image:url(../../_data/photos/advantagesBlock/5.png);
}
#carrier .contentCarrier #advantagesBlock .a6 {
	background-image:url(../../_data/photos/advantagesBlock/6.png);
}
#carrier .contentCarrier #advantagesBlock .a7 {
	background-image:url(../../_data/photos/advantagesBlock/7.png);
}
#carrier .contentCarrier #advantagesBlock .a8 {
	background-image:url(../../_data/photos/advantagesBlock/8.png);
}
/*"Как мы работаем"*/
#carrier .contentCarrier #howBlock {
	background-color:#ebeef0;
}
#carrier .contentCarrier #howBlock h2 {
	padding-bottom:25px;
}
#carrier .contentCarrier #howBlock ul {
	margin:0px;
	padding:0px;
}
#carrier .contentCarrier #howBlock li {
	display:inline-block;
	width:196px;
	margin:0px 0px 0px 0px;
	padding:150px 0px 20px 0px;
	sborder:solid 1px #000;
	background-position:center top;
	background-repeat:no-repeat;
	height:250px;
	vertical-align:top;
	font-size:16px;
	line-height:22px;
	text-align:center;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
#carrier .contentCarrier #howBlock .a1 {
	background-image:url(../../_data/photos/howBlock/1.png);
}
#carrier .contentCarrier #howBlock .a2 {
	background-image:url(../../_data/photos/howBlock/2.png);
}
#carrier .contentCarrier #howBlock .a3 {
	background-image:url(../../_data/photos/howBlock/3.png);
}
#carrier .contentCarrier #howBlock .a4 {
	background-image:url(../../_data/photos/howBlock/4.png);
}
#carrier .contentCarrier #howBlock .a5 {
	background-image:url(../../_data/photos/howBlock/5.png);
}
/*Контакты*/
#carrier .contentCarrier #contactsBlock {
	text-align:center;
	position:relative;
}
#carrier .contentCarrier #contactsBlock #contacts {
	position:absolute;
	z-index:10;
	top:320px;
	width:1000px;
	margin:auto;
}
#carrier .contentCarrier #contactsBlock #contactsInfo {
	width:270px;
	float:right;
	padding:30px 20px 30px 20px;
	border:solid 1px #000;
	text-align:left;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 0px #b03b80;
	background-color:#fff;
	margin:0px 0px 30px 0px;
	font-size:20px;
}
#carrier .contentCarrier #contactsBlock #contactsInfo span {
	display:block;
}
#carrier .contentCarrier #contactsBlock #contactsInfo .addr {
	background-image:url(../img/map.png);
	background-position:left 0px top 3px;
	background-repeat:no-repeat;
	padding:10px 0px 10px 35px;
}
#carrier .contentCarrier #contactsBlock #contactsInfo .phone {
	background-image:url(../img/phone.png);
	background-position:left 0px top 3px;
	background-repeat:no-repeat;
	padding:10px 0px 10px 35px;
	margin-top:20px;
}
#carrier .contentCarrier #contactsBlock #contactsForm {
	padding-top:5px;
	margin:0px 0px 20px 0px;
	padding:10px 20px 20px 20px;
	text-align:center;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 0px #b03b80;
	background-color:#fff;
	zoom:1;
	overflow:hidden;
	font-size:17px;
	width:1000px;
}
#carrier .contentCarrier #contactsBlock #contactsForm span {
	padding:10px;
	display:block;
	font-size:20px;
}
#carrier .contentCarrier #contactsBlock #contactsForm .sendButton {
	padding:15px 40px 15px 40px;
	display:inline-block;
	margin-left:20px;
	font-size:20px;
}
/*Галерея*/
#carrier .contentCarrier #galleryBlock {
	height:150px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#carrier .contentCarrier #galleryBlock h2 {
	position:absolute;
	left:50%;
	margin-left:-100px;
	margin:auto;
	width:200px;
}
#carrier .contentCarrier #galleryBlock img {
	height:150px;
	margin-right:4px;
	float:left;
	cursor:pointer;
}
#carrier .contentCarrier #galleryBlock img:hover {
	outline:5px solid #9f005e;
	outline-offset:-5px;
}
/*/Основное тело*/

/*Футер*/
/*
#footer {
	background-color:#a0a8b1;
}
#footer .contentCarrier {
	width:1000px;
}
#footer .contentCarrier .content {
	margin:0px 390px 0px 250px;
	padding:0px 0px 0px 0px;
}
#footer .contentCarrier .left {
	width:250px;
	padding:0px 0px 0px 0px;
}
#footer .contentCarrier .right {
	position:relative;
	width:380px;
	float:right;
	padding:25px 0px 10px 0px;
	text-align:right;
}
#footer .contentCarrier .right #bottomPhone {
	display:block;
	font-size:38px;
	background-image:url(/_res/img/phone2.png);
	background-position:left 0px top 7px;
	background-repeat:no-repeat;
	margin-top:15px;
}*/
#footer {
	height:210px;
	background-color:#afb7c0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-size:13px;
	color:#fff;
	min-width:1120px;
}
#footer .contentCarrier {
	text-align:center;
	width:1000px;
	margin:auto;
	padding:0px;
}
#footer .contentCarrier .carrier .left {
	position:relative;
	width:200px;
	padding:23px 20px 0px 0px;
	text-align:left;
}
#footer .contentCarrier .carrier .right {
	position:relative;
	width:300px;
	padding:30px 0px 0px 0px;
	text-align:right;
	font-size:14px;
}
#footer .contentCarrier .carrier .left .b-share_theme_counter .b-share { 
	  padding: 1px 3px 1px 0px!important;
}
#footer .contentCarrier .carrier .left #pay {
	margin-bottom:30px;
}
#footer .contentCarrier .carrier .right .textPhone {
	display:block;
	font-size:32px;
}
#footer .content {
	margin:0px 330px 0px 230px;
	padding:10px 0px 0px 0px;
	font-size:26px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	line-height:35px;
	color:#9f005e;
}
#footer .content .modalCaller {
	padding:20px 20px 20px 20px;
	font-size:20px;
	margin:20px 100px 0px 100px;
}
/*/Футер*/

/*Общее*/
.block {
	margin:auto;
	max-width:1000px;
	min-width:1000px;
	width:auto;
}
h1, h2 {
	text-align:center;
	margin:0px;
	padding:60px 0px 60px 0px;
	font-weight:200;
	font-size:40px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
a {
	color:#9f005e;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
hr {
	background:#000;
}
.button {
	cursor:pointer;
	text-align:center;
	color:#fff;
	font-size:15px;
	background-color: rgba(176, 59, 128, 0.9);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 0px #b03b80;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.button:hover {
	background-color: rgba(176, 59, 128, 1.0);
}
#upButton {
	display:none;
	position:fixed;
	right:15px;
	top:62px;
	width:47px;
	height:47px;
	cursor:pointer;
	z-index:15;
	background-image:url(../img/up.png);
	background-position:left 0px; 
}
#upButton:hover {
	background-position:left -50px; 
}
input {
	font-size:16px;
	display:inline;
	border:solid 0px #a0a8b1;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	smargin:10px;
	padding:2px 5px 1px 5px;
	background: #828a93; 
	background: -moz-linear-gradient(top,  #828a93 0%, #a0a8b1 6%, #a0a8b1 97%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828a93), color-stop(6%,#a0a8b1), color-stop(97%,#a0a8b1), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828a93', endColorstr='#ffffff',GradientType=0 );
	color:#fff;
	font-weight:200;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
/*/Общее*/