@charset "UTF-8";

@font-face {
    font-family: 'Museo Cyr';
    src: url('_res/fonts/museosanscyrl-500.eot');
    src: url('_res/fonts/museosanscyrl-500.eot@') format('embedded-opentype'),
         url('_res/fonts/museosanscyrl-500.woff') format('woff'),
         url('_res/fonts/museosanscyrl-500.ttf.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body#tinymce.wp-editor {
    margin: 10px;
    padding: 0;
    font-family:'Museo Cyr', sans-serif;
    color: #222;
    max-width: 1000px;
    background-color: #fff;
	text-align:justify;
	font-size:16px
}

h1, h2 {
	text-align:center;
	margin:0px;
	padding:60px 0px 60px 0px;
	font-weight:200;
	font-size:40px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
a {
	color:#9f005e;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

img{
	max-width:100%;
	height:auto;
	border:0
}

img.aligncenter{
	display:block;
	margin:0 auto
}

img.alignleft{
	float:left
}

img.alignright{
	float:right
}

hr {
	background:#000;
	border:none;
	height:1px;
	display:block;
	clear:both
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

td {
    padding: 10px;
	border: 1px solid #ccc
}

td:first-child {
    background-color: #f6f6f6;
}