body #totalPrice{
	display:none!important
}

body #phoneNumber a{
	color:black;
	text-decoration:none
}

body #calculatorBlock .recall{
	text-align:center
}

body #calculatorBlock .recall input{
	display:inline-block
}

body #contactsBlock iframe{
	border:0!important;
	width:100%!important;
	height:550px!important
}

body .allstock,
body .pagewindows{
	display:block;
	width:100%;
	max-width:1000px;
	margin:0 auto;
	padding:0 0 30px 0
}

body .pagewindows{
	margin-top:-20px
}

body .allstock a{
	float:left;
	width:298px;
	height:198px;
	margin:0 50px 50px 0;
	display:table;
	position:relative;
	color:white;
	box-sizing:border-box;
	border:1px solid silver
}

body .allstock a img{
	display:block;
	position:absolute;
	width:296px;
	height:198px;
	z-index:1;
	left:50%;
	top:50%;
	margin:-99px 0 0 -148px;
	max-width:100%;
	max-height:100%
}

body .allstock a span{
	display:table-cell;
	width:296px;
	height:198px;
	text-align:center;
	position:relative;
	z-index:2;
	vertical-align:middle;
	font-size:22px;
	padding:0 20px 0 20px;
	text-shadow: 1px 1px 1px black;
	color:white
}

body .allstock a.last{
	margin-right:0
}

body .allstock .aligncenter,
body .pagewindows .aligncenter{
	display:block;
	margin:0 auto
}

body .allstock .alignleft,
body .pagewindows .alignleft{
	float:left
}

body .allstock .alignright,
body .pagewindows .alignright{
	float:right
}

body .pagewindows img{
	max-width:100%;
	height:auto;
	border:0
}

#mainBlock .windows{
	display:block;
	width:100%;
	max-width:1040px;
	margin:0 auto
}

#mainBlock .windows .item{
	float:left;
	width:230px;
	min-height:100px;
	margin:-30px 0 58px 28px;
	border:1px solid #c6cbd1;
	box-sizing:border-box;
	border-radius:3px;
	overflow:hidden;
	background:white;
	text-align:center;
	transition:1s
}

#mainBlock .windows .item.first{
	margin-left:20px;
}

#mainBlock .windows .item:hover{
	text-decoration:none;
	opacity:0.6
}

#mainBlock .windows .item .head{
	background: #828a93; 
	background: -moz-linear-gradient(top,  #828a93 0%, #a0a8b1 6%, #a0a8b1 97%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828a93), color-stop(6%,#a0a8b1), color-stop(97%,#a0a8b1), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #828a93 0%,#a0a8b1 6%,#a0a8b1 97%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828a93', endColorstr='#ffffff',GradientType=0 );
	display:block;
	padding:10px 0 10px 0;
	color:white;
	font-size:20px
}

#mainBlock .windows .item .desc{
	font-size:14px;
	color:black;
	line-height:16px;
	display:block;
	padding:10px 10px 0 10px
}

#mainBlock .windows .item .price{
	background: #c6cbd1;
	display:block;
	font-size:22px;
	padding:8px 0 6px 0;
	color:#9f005e
}

#mainBlock .windows .item .price strike{
	display:block;
	font-size:14px;
	color:white
}

#mainBlock .windows .item .prev{
	display:block;
	padding:10px 0 10px 0;
	text-align:center;
	height:250px
}

#mainBlock .windows .item .prev img{
	max-width:70%;
	max-height:100%;
	display:block;
	margin: 0 auto;
	border:0
}

body #carrier .contentCarrier #mainBlock.mainBlock #contactsBlock{
	height:160px
}

body #carrier .contentCarrier #mainBlock.mainBlock #contactsBlock #contacts{
	top:0
}

.pagewindows table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

.pagewindows td {
    padding: 10px;
	border: 1px solid #ccc
}

.pagewindows td:first-child {
    background-color: #f6f6f6;
}
img#currentImage {
	width: 85%;
}