@import "vars"
@import "fonts"
@import "libs"

+reset

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  position: relative
  z-index: 5
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green
a
  cursor: pointer
.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold
//блок хедер
.bt
  background: $accent
  padding: 10px 20px 10px 20px
  margin-bottom: 10px
  color: #ffffff
  border-radius: 7px
.topline
  +wrapper
  display: flex
  justify-content: space-between
  padding-top: 15px
  padding-bottom: 15px
  align-items: center
  flex-wrap: wrap
  +md-block
    justify-content: space-evenly
  &-logo
    +size-xs(12)
    +md-block
    padding-bottom: 10px
    text-align: center
  &-btn
    +size-xs(12)
    flex-direction: column
    display: flex
    justify-content: center
  &-call
    +size-xs(12)
    display: flex
    flex-direction: column
    align-items: flex-end
    a
      color: $accent
      h3
        font-size: 25px
.navbar-mobile
  width: 100%
  a
    text-decoration: none
    color: #1E1E23
    opacity: 1
    font-size: 1.1em
    font-weight: 400
    transition: 200ms
    &:hover
      opacity: 0.5

  ul
    padding: 0
    list-style-type: none

  .container
    margin-top: 50px
    display: flex
    justify-content: center
    align-items: center

  .content
    border: 1px solid #36383F
    border-radius: 20px
    width: 94%
    height: 91%
    background-color: #F5F6FA
    overflow: hidden

  nav
    background-color: #afb7c0
    height: 65px

  #menuToggle
    max-width: 90%
    display: flex
    flex-direction: column
    position: relative
    top: 25px
    left: 25px
    z-index: 1
    user-select: none
    input
      display: flex
      width: 40px
      height: 32px
      position: absolute
      cursor: pointer
      opacity: 0
      z-index: 2
    span
      display: flex
      width: 29px
      height: 2px
      margin-bottom: 5px
      position: relative
      background: #ffffff
      border-radius: 3px
      z-index: 1
      transform-origin: 5px 0
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease
      &:first-child
        transform-origin: 0 0
      &:nth-last-child(2)
        transform-origin: 0 100%
    input:checked ~ span
      opacity: 1
      transform: rotate(45deg) translate(-3px, -1px)
      background: #36383F
      &:nth-last-child(3)
        opacity: 0
        transform: rotate(0deg) scale(0.2, 0.2)
      &:nth-last-child(2)
        transform: rotate(-45deg) translate(0, -1px)

  #menu
    position: absolute
    width: 250px
    height: 410px
    box-shadow: 0 0 10px #85888C
    margin: -50px 0 0 -50px
    padding: 80px 50px 50px 50px
    background-color: #F5F6FA
    transform-origin: 0 0
    transform: translate(-100%, 0)
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1)
    li
      transition-delay: 2s

  #menuToggle input:checked ~ ul
    transform: none
.navmenutop
  +md-block
    display: none
.navbar-nav
  +wrapper
  display: flex
  width: 90%
  height: 50px
  justify-content: space-between
  align-items: center
  .nav-link
    &:hover
      border-bottom: solid 1px $accent
.topadv
  background: $bg-grad
  ul
    +wrapper
    width: 90%
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    padding: 10px
    color: #ffffff
    +md-block
      justify-content: space-evenly
    +xs-block
      justify-content: flex-start
    li
      +md-block
        width: 50%
      +xs-block
        width: 90%
      img
        margin-right: 10px
//slider
.carousel-indicators
  z-index: 1
  li
    background-color: $accent
  +md-block
    display: none
.carousel-caption
  max-width: 500px
  min-width: 320px
  top: 1%
  right: 10%
  left: 50%
  bottom: auto
  background-color: rgba(255,255,255, .8)
  border-radius: 3px
  box-shadow: 1px 1px 20px 0 #000
  padding: 0
  z-index: 0
  +md-block
    max-width: 100%
    width: 100%
    top: auto
    bottom: 0
    left: 0
  +sm-block
    position: relative
  .slform
    display: flex
    width: 100%
    flex-direction: column
    color: $text
    padding: 15px 15px
    &-title h2
      font-size: 23px
      span
        font-size: 26px
        color: $accent
        display: block
        +md-block
          display: inline
    hr
      border-color: $text
      margin: 0
    form
      display: flex
      flex-direction: column
      padding-top: 15px
      +md-block
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        padding-top: 10px
        align-items: center
      input
        padding: 7px 7px
        margin-bottom: 10px
        border-radius: 4px
        +md-block
          padding: 5px 5px
          margin-bottom: 0
          margin-right: 5px
          height: 40px
          +sm-block
            width: 140px
        +xs-block
          margin-bottom: 10px
      button
        margin-top: 5px
        +md-block
          height: 40px
          padding: 5px 10px 5px 10px
          margin-bottom: 0
          margin-top: 0

//блок окна
.okna
  +wrapper
  &-title
    display: flex
    justify-content: center
    align-items: center
    padding-top: 30px
    h1
      font-size: 25px
      font-weight: 600
  &-row
    +row-flex
    +md-block
      justify-content: center
  &-item
    +col
    +size(3)
    height: 100%
    border: solid 2px $bg-col
    min-width: 262px
    margin: 15px
    a
      text-decoration: none
    &:hover
      border: solid 2px $accent
      box-shadow: 4px 4px 5px 0 rgba(0,0,0,.25)
    &-title
      background: $bg-grad
      color: #ffffff
      display: flex
      justify-content: center
      padding: 10px 10px
    &-info
      padding: 10px
      font-size: 14px
      color: #000000
    &-img
      text-align: center
      img
        padding-left: 25px
        padding-right: 25px
        width: 180px
    &-price
      display: flex
      justify-content: center
      background: $bg-col
      padding: 5px
      margin-top: 10px
      span
        display: block
        color: $accent
        font-size: 22px
        strike
          display: block
          font-size: 16px
          color: #ffffff
//калькулятор
.calc
  background: #f2f3f7
  form
    width: 100%
.calc-title
  display: flex
  justify-content: center
  padding: 15px 15px
  h2
    font-size: 25px
#calculatorBlock
  +wrapper
  padding: 15px 15px
  .block
    +row-flex
    justify-content: space-around
    margin: 0
    padding: 0
  .left
    +size(3)
    +size-md(12)
    text-align: center
    border-right: solid 1px #c6cbd1
    #modelMenu
      position: relative
      width: 100%
    #modelList
      display: none
      position: absolute
      z-index: 10
      top: 40px
      left: 150px
      border: solid 1px #a0a8b1
      background-color: #a0a8b1
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15)
      border-radius: 5px
      padding: 10px 0 10px 0
      text-align: center
      color: #fff
      font-size: 20px
      margin-top: 18px
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
      ul
        padding: 0
        margin: 0
      li
        margin: 0
        list-style: none
        font-size: 18px
        padding: 7px 10px 7px 10px
        color: #fff
        font-weight: 200
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
        cursor: pointer
        &:hover
          text-decoration: underline
    #profileTitle
      text-align: center
      font-weight: 200
      font-size: 22px
      color: #9f005e
      cursor: pointer
    #profile
      text-align: center
      img
        padding: 20px
  .right
    +size(4)
    +size-md(12)
    border-left: solid 1px #c6cbd1
    #totalPrice
      display: none
      margin: 10px 30px 20px 30px
      padding: 10px 20px 10px 20px
      font-size: 40px
      text-align: center
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15)
      border-radius: 5px
      border: solid 0 #b03b80
      background-color: #fff
      zoom: 1
      overflow: hidden
      color: #9f005e
    form
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 15px
      #sendform
        color: red
        text-align: center
        display: none
      input
        width: 70%
        padding: 7px 7px
        margin-bottom: 10px
        border-radius: 4px
  .content
    +size(5)
    +size-md(12)
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    text-align: center
    input
      text-align: center
      padding: 2px 20px 2px 20px
    #profileList
      display: flex
      justify-content: center
      .leafsMenu
        padding: 5px
        cursor: pointer
      .leaf img
        border: solid 2px #fff
      .drop
        .leafsMenu
          border: solid 2px #eee
        display: none
        position: absolute
        border: solid 1px #999
        background-color: #a0a8b1
        margin-left: -11px
        margin-top: -75px
        z-index: 20
      ul
        margin: 0
        padding: 0
      li
        float: left
        list-style: none
        margin: 10px 10px 0 10px
        padding: 0
        line-height: 0
      .drop
        ul
          margin: 0
          padding: 0
        li
          float: none
          display: list-item
          list-style: none
          padding-bottom: 10px
          z-index: 100
        img:hover
          border: solid 2px #9f005e
    #profileMenuCarrier
      display: table
      width: 100%
      margin: 10px 0 10px 0
      border-style: solid
      border-width: 1px
      border-color: #92a5b1
      border-radius: 25px
      #profileMenu
        padding: 0 0 40px 0
        margin: 0
        width: 100%
        display: table-row
    #profileMenu li
      display: table-cell
      padding: 3px
      margin: 10px 50px 10px 50px
      list-style: none
      font-size: 24px
      cursor: pointer
      color: #ff5a00
      border-style: solid
      border-width: 0
      border-color: #92a5b1
      border-radius: 25px
      text-align: center
      width: 20%
    #verticalScrollCarrier
      text-align: center
      font-size: 12px
      position: absolute
      left: 10px
      bottom: 40px
      //margin: 0 0 0 40px
      width: 10px
    #currentLeafCarrier
      width: 300px
      height: 300px
      position: relative
      justify-content: center
      margin-top: 15px
      //margin: 70px 60px 40px 60px
      img
        text-align: center
        padding: 80px 40px 50px 50px
    #verticalScrollCarrier #verticalScroll
      width: 6px
      height: 245px
      cursor: pointer
      background-color: #a0a8b1
      border: solid 1px #a0a8b1
      border-radius: 5px
      #verticalBox
        position: relative
        top: 230px
        left: -6px
        height: 15px
        width: 15px
        cursor: pointer
        background-color: rgba(176, 59, 128, 1)
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15)
        border-radius: 15px
        border: solid 0 #b03b80
    #horizontalScrollCarrier
      text-align: center
      font-size: 12px
      width: 253px
      height: 10px
      position: absolute
      bottom: 10px
      left: 40px
      #horizontalScroll
        #horizontalBox
          position: relative
          top: -6px
          height: 15px
          width: 15px
          cursor: pointer
          background-color: rgba(176, 59, 128, 1)
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15)
          border-radius: 15px
          border: solid 0 #b03b80
        width: 253px
        height: 6px
        background-color: #a0a8b1
        border: solid 1px #a0a8b1
        cursor: pointer
        border-radius: 5px
  .content-right-title
    text-align: center
    h3
      text-align: center
      font-weight: 200
      font-size: 20px
      padding: 15px 0 15px 0
    p, span
      font-size: 18px
      padding: 15px



    span
      font-size: 16px
#carrier .contentCarrier
  #calculatorBlock
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1)
    background: rgb(215, 220, 226)
    background: linear-gradient(180deg, rgb(215, 220, 226) 0%, rgb(255, 255, 255) 100%)
    border-style: solid
    border-width: 1px 0 1px 0
    border-color: #c6cbd1
    .block
      background-color: rgba(255, 255, 255, 0.4)
    h2
      border-bottom: solid 1px #c6cbd1
  #priceBlock
    margin-bottom: 30px
    #priceBlockMenu
      float: left
      width: 200px
      border: solid 1px #a0a8b1
      background-color: #a0a8b1
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15)
      border-radius: 5px
      padding: 10px 0 10px 0
      text-align: center
      color: #fff
      font-size: 20px
      margin-top: 18px
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
      ul
        padding: 10px
        margin: 10px 0 0 0
        border-top: solid 1px #ccc
      li
        padding: 0
        margin: 15px 0 0 0
        list-style: none
        text-align: center
        a
          color: #fff
          text-decoration: none
          &:hover
            text-decoration: underline
        .active
          color: #000
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6)
    .title
      display: block
      text-align: center
      padding-bottom: 30px
      font-size: 20px
    .tabEl2
      border: solid 1px #000
      margin-left: 230px
      table
        width: 100%
        font-weight: 200
        font-size: 20px
        .p1
          width: 270px
          padding-left: 25px
        .p2
          width: 275px
      .price
        font-size: 35px
        color: #9f005e
    .cond
      font-size: 12px
      text-align: right
      display: block
      padding-top: 20px
      color: #999
/*/Калькулятор

// блок цена
.price
  &-heading
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 30px
    h2
      font-size: 25px
      margin: 0
      padding-bottom: 15px
    p
      +md-block
        padding-left: 25px
      span
        color: $accent
.cd-tabs
  position: relative
  width: 100%
  display: flex
  +md-block
    flex-direction: column
  &::after
    content: ""
    position: absolute
    top: 0
    right: 0
    height: 60px
    width: 50px
    z-index: 1
    pointer-events: none
    visibility: visible
    opacity: 1
    transition: opacity .3s 0s, visibility 0s 0s
  &.cd-tabs--scroll-ended::after
    visibility: hidden
    opacity: 0
    transition: opacity .3s 0s, visibility 0s .3s
  nav
    width: 300px
    position: relative
    +md-block
      width: 100%
.cd-tabs__navigation
  min-width: 330px
  padding: 30px
  margin-bottom: 0
  text-align: center
  +md-block
    display: flex
    flex-wrap: wrap
  &:after
    content: ""
    display: table
    clear: both
  .price-menu-title
    padding: 15px
    border-bottom: solid 1px #fff
    +md-block
      display: none
    h3
      font-size: 20px
      font-weight: 600
  li
    display: block
    position: relative
    background: #a0a8b1
    z-index: 2
    +md-block
      width: 100px
  a
    position: relative
    z-index: 1
    display: block
    height: 60px
    width: auto
    text-align: left
    font-size: 1.2rem
    font-weight: 600
    color: #f7f7f7
    padding: 0 15px 0 15px
    line-height: 60px
    +md-block
      height: 100%
    &:hover
      color: #fff
      background-color: #b7bfc7
      text-decoration: none
    &.cd-selected
      background-color: #b7bfc7 !important
      box-shadow: inset 3px 0 0 $accent
      color: #29324e
    &::before
      content: ""
      position: absolute
      top: 50%
      left: 40px
      margin-top: -8px
      margin-left: 0
      display: inline-block
      height: 16px
      width: 16px
.cd-tabs__content
  width: 100%
  background: #ffffff
  margin: 0
  li
    display: none
    padding: 1.4em
    &.cd-selected
      width: 100%!important
      display: block
      animation: cd-fade-in 0.5s
    .cd-selected-wrap
      +row-flex
      justify-content: space-evenly
      h4
        font-size: 20px
        text-align: center
      span
        display: block
        font-size: 25px
        text-align: center
        color: $accent
.snoska
  width: 100%
  display: flex
  justify-content: flex-end
  padding-bottom: 15px
  p
    color: #cccccc
    +md-block
      padding: 10px
      text-align: center
@-webkit-keyframes cd-fade-in
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes cd-fade-in
  0%
    opacity: 0
  100%
    opacity: 1
// блок преимущества
.advantages
  background: #ebeef0
  padding: 15px 15px
  &-wrap
    +wrapper
  &-title
    display: flex
    justify-content: center
    padding-bottom: 15px
    h2
      font-size: 25px
  &-row
    +row-flex
    justify-content: space-evenly
  &-items
    width: 400px
    li
      display: flex
      align-items: center
      p
        margin-left: 10px
// блок галерея
.gallery
  +wrapper
  padding: 15px 15px
  text-align: center
  &-title
    display: flex
    justify-content: center
    padding-bottom: 15px
    h2
      font-size: 25px
  img
    width: 100%
    max-width: 800px
  &-row
    display: flex
    flex-wrap: wrap
    justify-content: center
  &-item
    +size(3)
    +size-md(4)
    +size-sm(6)
    +size-xs(12)
    padding: 5px
    a img
      width: 100%
      height: 100%
//блок контакты
.contact
  padding: 15px 15px
  &-title
    +wrapper
    display: flex
    justify-content: center
    padding-bottom: 15px
    h2
      font-size: 25px
  &-row
    +wrapper
    display: flex
    flex-wrap: wrap
    padding: 15px 15px
  &-form
    +col
    +size(7)
    +size-sm(12)
    align-items: center
    display: flex
    flex-direction: column
    &-heading
      display: flex
      justify-content: center
      padding-bottom: 15px
      text-align: center
      h4
        font-size: 18px
    form
      width: 90%
      display: flex
      flex-direction: column
      max-width: 500px
      input
        margin-bottom: 10px
        padding: 5px 5px
        border-radius: 4px
      button
        margin-top: 5px
  &-info
    +col
    +size(5)
    +size-sm(12)
    ul li
      display: flex
      align-items: center
      padding-bottom: 10px
      img
        width: 25px
        height: 30px
      p
        padding-left: 10px
        font-size: 18px
// блок как мы работаем
.thebest
  background: #ebeef0
  padding: 15px
  &-wrap
    +wrapper
  &-title
    display: flex
    justify-content: center
    padding-bottom: 15px
    h2
      font-size: 25px
  &-row ul
    +row-flex
    justify-content: space-evenly
    text-align: center
    li
      +col
      +size(2)
      +size-md(4)
      +size-sm(6)
      +size-xs(12)
.footer
  background: #afb7c0
  &-wrap
    +wrapper
    padding: 15px 15px
  &-row
    +row-flex
    justify-content: space-around
  &-one
    +col
    &-cart
      padding-bottom: 15px
  &-two
    +col
    h3
      font-size: 27px
      color: $accent
      text-align: center
      padding-bottom: 20px
    a
      display: flex
      justify-content: center
  &-three
    +col
    p
      font-size: 25px
      color: #ffffff
      span
        display: block
        font-size: 14px

//модальное окно
$red: #EF233C
$blue: #2B2D42
$orange: #FF9F1C

.btn
  padding: 10px 30px
  margin-bottom: 10px
  display: inline-block
  background: $accent
  color: white
  text-decoration: none
  transition: 0.35s ease-in-out
  font-weight: 700
  &:hover
    background: darken($accent, 13%)
    color: white

.overlay
  width: 100%
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 40px
  position: fixed
  top: 0
  left: 0
  background: rgba(black, 0.75)
  opacity: 0
  pointer-events: none
  transition: 0.35s ease-in-out
  max-height: 100vh
  overflow-y: auto
  z-index: 9
  &.open
    opacity: 1
    pointer-events: inherit
  .modal
    background: white
    text-align: center
    padding: 40px 80px
    box-shadow: 0 1px 10px rgba(white, 0.35)
    opacity: 0
    pointer-events: none
    transition: 0.35s ease-in-out
    max-height: 100vh
    overflow-y: auto
    justify-content: center
    width: 50%
    height: 50%
    left: 28%
    top: 15%
    +md-block
      width: 90%
      height: 90%
      left: 5%
      top: 5%
    +sm-block
      width: 100%
      height: 100%
      left: 0
      top: 0
    form
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      width: 300px
      input
        width: 100%
        padding: 7px 7px
        margin-bottom: 10px
        border-radius: 4px
    &.open
      opacity: 1
      pointer-events: inherit
      display: flex
      .content
        transform: translate(0, -0px)
        opacity: 1
    .content
      transform: translate(0, -10px)
      opacity: 0
      transition: .35s ease-in-out
      display: flex
      align-items: center
    .title
      margin-top: 0
//страница акции
.sale
  &-wrap
    +wrapper
    padding: 15px 15px
  &-title
    display: flex
    justify-content: center
    padding-bottom: 15px
    h2
      font-size: 25px
  &-row
    +row-flex
    justify-content: center
  &-items
    +col
    position: relative
    margin-bottom: 15px
    &-img
      &-title
        position: absolute
        width: 100%
        height: 20%
        background: rgba($accent, .6)
        bottom: 0
        display: flex
        justify-content: center
        align-items: center
        h2
          color: #ffffff
          font-size: 20px
//страница пост
.post
  +wrapper
  padding: 15px
  &-title
    display: flex
    justify-content: center
    padding-bottom: 15px
    h1
      font-size: 25px
  &-content
    display: block
    width: 100%
    p
      padding-bottom: 5px
      text-indent: 2em
    h2
      text-align: center
      font-size: 25px
      padding: 15px 15px
    table
      width: 100%
      display: table
      tbody
        display: table-row-group
        tr
          td:first-child
            background-color: #f6f6f6
          td
            border: solid 1px #ccc
            padding: 10px
    &-img
      padding-bottom: 15px
      text-align: center
      width: 100%
  &-best
    img
      float: right
  &-form
    margin-top: 30px
    box-shadow: 0px 0px 9px 0px #ccc
    &-title
      display: flex
      justify-content: center
    form
      display: flex
      flex-wrap: wrap
      justify-content: center
      input
        border-radius: 4px
        padding: 4px 4px
        height: 46px
        margin-right: 10px

//сообщение отправки формы
.sendotherform
  position: fixed
  top: -30%
  width: 100%
  height: auto
  padding: 30px
  display: flex
  justify-content: center
  align-items: center
  background-color: $accent
  z-index: 99
  opacity: 0
  transition: ease-in-out all 1s
  p
    font-size: 1.5em
    color: #ffffff
.opasity
  top: 0
  opacity: .9

.scrollup
  width: 40px
  height: 40px
  opacity: 0.9
  position: fixed
  top: 150px
  right: 50px
  display: none
  text-indent: -9999px
  background: url(../img/up.png), no-repeat

@import "media" // Always at the end
