---
layout: page
title: Пластиковые окна Rehau Tandem – купить качественные окна от производителя "Окна Rehau"
h1: Окна Rehau Tandem
model: "Rehau Tandem"
calc: Tandem
img: img/6.png
description: Современные тенденции на российском рынке остекления конструкций жилого, административного, социального и другого назначения требуют соответствия предлагаемых профильных конструкций. Ответом на повышенные требования к системам остекления оконные проемов, балконов и лоджий стала совместная разработка компаний REHAU и Софос в виде профиля Rehau Tandem.
---
<p><strong>Немецко-российские окна – надежный тандем в системах остекления</strong></p>
<p>Современные тенденции на российском рынке остекления конструкций жилого, административного, социального и другого назначения требуют соответствия предлагаемых профильных конструкций. Ответом на повышенные требования к системам остекления оконные проемов, балконов и лоджий стала совместная разработка компаний REHAU и Софос в виде профиля <strong>Rehau Tandem.</strong></p>
<p>Особенности конструкции состоят в том, что на ПВХ-профиль немецкого производства накладывается алюминиевая фасадная панель. Обеспечиваются как высокие эстетические показатели, так и улучшенные характеристики шумопоглощения и теплоизоляции. Показатели поглощения шума составляют 45 дБ, обеспечивая профилю класс «А» по звукоизоляции.</p>
<p>Система остекления <strong>Rehau Tandem</strong> сочетает в себе немецкое качество и опыт российских инженеров, конструирующих защитные системы в соответствии с требованиями отечественных потребителей. Этот профиль надежно защищает внутреннее пространство от факторов окружающей среды, препятствуя мощным порывам ветра, шквалам и другим проявлениям российского климата.</p>
<p>Стильный дизайн алюминиевой накладки позволит системам Tandem украсить любую конструкцию современного типа.</p>
<h2>Технические характеристики окон Rehau Tandem</h2>
<div class="post-content-img">
    <img src="img/tandemparameters.jpg" alt="">
</div>
{% include /calc_page.html %}
<div class="post-best">
    <h2>Преимущества окон Rehau Tandem</h2>
    <img src="{{ page.img }}" alt="{{ page.title }}">
    <p><strong>Энергоэффективность и теплосбережение</strong></p>
    <p>Эти характеристики обеспечиваются уникальной конструкцией пятикамерного профиля глубиной 90 мм, тройным стеклопакетом и надежной изоляцией в виде двух уплотнителей. Микроклимат в помещение сохраняется в любое время года, так как система Tandem характеризуется высокими показателями воздухонепроницаемости, влагонепроницаемости и пылезащищенности.</p>
    <p>Используя эту систему остекления вы заметите, как ощутимо снизились затраты на поддержание комфортных условий в загородном доме, городской квартире или даче.</p>
    <p><strong>Высокие показатели шумопоглощения</strong></p>
    <p>Профиль обеспечивает тишину в любой местности. Даже если дом расположен вблизи оживленных автострад, железнодорожных вокзалов, стадионов или долгостроев, шум от этих объектов не будет докучать вам. Стеклопакеты шириной 40 мм и поглощающая способность материалов рамной конструкции обеспечивают тишину и спокойную атмосферу.</p>
    <p><strong>Надежность и долговечность</strong></p>
    <p>Конструкция многокамерного профиля предусматривает наличие двух сальных армирующих контуров. Стеклопакеты прослужат не менее полувека и не потребуют к себе внимания в виде ремонтных работ на протяжении этого периода.</p>

    <p>Вас заинтересовало предложение в виде профиля Rehau Tandem и вам хотелось бы узнать об окнах REHAU подробнее? Звоните +7 (968) 512-20-00 или заполните форму обратной связи, чтобы наши консультанты смогли перезвонить вам и ответить на все интересующие вас вопросы.
    </p>
</div>
<h2>Стоимость остекления профилем Rehau Tandem</h2>
<p>Для Вашего удобства мы произвели расчет стоимости остекления окнами Rehau Tandem для популярного типа дома П-44. Точная цена для Вашего дома или квартиры определяется после замера нашим специалистом, который Вы можете заказать по телефону +7 (968) 512-20-00. Замер и консультация осуществляется бесплатно.</p>
<div class="post-content-img">
    <img src="img/priceBlock/raskladka.png" alt="">
</div>
<table>
    <tbody>
    <tr>
        <td>Балконный блок</td>
        <td class="price">от 19 000руб.</td>
    </tr>
    <tr>
        <td>Трехстворчатое окно</td>
        <td class="price">от 19 000 руб.</td>
    </tr>
    <tr>
        <td>Двустворчатое окно</td>
        <td class="price">от 19 000 руб.</td>
    </tr>
    </tbody>
</table>

{% include /post_form.html %}