/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 0px;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:15px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default .nivo-control a.active {
	color:#000;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -17px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:60px;
	height:58px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 1.0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	top:44%;
}
.theme-default .nivo-directionNav a:hover {
	background:url(http://vsesoknami.ru/_components/slider/themes/default/arrows_hover.png) no-repeat;
	background-position:-67px 0;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-67px 0;
	right:0px;
}
.theme-default a.nivo-prevNav {
	left:0px;
}
.theme-default a.nivo-prevNav:hover {
	background-position:left 0;
}
.theme-default .nivo-caption {
    font-family:'Museo Cyr', Helvetica, Arial, sans-serif;
	width:100%;
	dborder:solid 1px #000;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
}